@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Be Vietnam Pro", sans-serif;
}

body {
    background-color: var(--pre-gray);
}

:root {
    --black-color: #000000;
    --lg-black-color: #1A1A1A;
    --white-color: #FFFFFF;
    --gray-light: #1A1A1A;
    --light-black: #262626;
    --pre-gray: #F1F1F3;
    --orange-colo: #FF9500;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 1rem;
}

/* p{
    margin: 0;
    padding: 0;
} */
.active {
    background-color: var(--pre-gray);
}

img {
    width: 100%;
    object-fit: contain;
}

.btn {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    padding: 14px 34px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: var(--orange-colo);
    color: var(--white-color);
    cursor: pointer;
    border-color: transparent;
    transition: 0.3s ease;
}

.btn:hover {
    border-color: transparent;
    background-color: white;
    color: var(--light-black);
}

.outline {
    background: none;
    color: var(--light-black);
    transition: 0.3s ease;
}

.outline:hover {
    background-color: var(--orange-colo);
    color: var(--white-color);
}

/* tobar section */
.toBar_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: var(--orange-colo);
    padding-block: 14px;

}

.toBar_desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: var(--white-color);
}

.toBar_arrow img {
    display: block;
    max-width: 24px;
    height: 24px;
}

/* header section */

.nav_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 20px 0 24px 0;
    margin-bottom: 70px;
}

.nav_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link {
    padding: 14px 24px;
    border-radius: 8px;
    color: #262626;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    transition: 0.3s ease;
}

.nav_link:hover {
    background-color: var(--orange-colo);
}

.active {
    background-color: var(--pre-gray);
}

.nav_right {
    display: flex;
    gap: 4px;
}

/* hero section */
.hero_cont {
    max-width: 965px;
    text-align: center;
    margin-bottom: 100px;
}

.hero_top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--pre-gray);
    border-radius: 11px;
    padding: 14px 30px 14px 20px;
    margin-bottom: 20px;
    background-color: var(--white-color);

}

.hero_icon img {
    max-width: 64px;
    height: 64px;
    display: block;
}

.hero_heading {
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
}

.hero_title {
    font-size: 38px;
    line-height: 150%;
    font-weight: 500;
}

.hero_desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 60px;
}

.hero_btns {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.view {
    background-color: var(--white-color);
    color: var(--black-color);
    transition: 0.3s ease;
}

.view:hover {
    background-color: var(--orange-colo);
    color: var(--black-color);
}

/* company logo  section*/
.companyIcon_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid var(--pre-gray);
    background-color: var(--white-color);
    margin-bottom: 100px;
}

.companyIcon_img img {
    max-width: 220px;
    height: auto;
    display: block;
}

/* banner section */
.banner_cont {
    margin-bottom: 150px;
}

/* benefit section */
.benefit_cont {
    margin-bottom: 100px;
}

.benefit_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.benefit_hedding {
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
}

.benefit_desc {
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
}

.benefit_left {
    max-width: 950px;
}

.card_wrap {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* flex-wrap: wrap; */
}

.card {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: end;
    /* max-width: 393px; */
    /* height: 437px; */
    /* width: 100%; */
    padding: 50px;
    border-radius: 12px;
    background-color: var(--white-color);
}

.card_number {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 50px;

}

.card_tile {
    align-self: baseline;
    margin-bottom: 14px;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
}

.card_desc {
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    align-self: baseline;
}

.arrow {
    padding: 10px;
    border: 1px solid #F1F1F3;
    outline: none;
    background-color: #FCFCFD;
    border-radius: 8px;
}

.arrow img {
    max-width: 34px;
    height: 34px;
    display: block;
}

/* course section*/
.cousre_cont {
    margin-bottom: 108px;
}

.course_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.course_heading {
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
}

.course_desc {
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
}

.course_left {
    max-width: 950px;
}

.cards_warp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.cousres {
    border-radius: 12px;
    background-color: var(--white-color);
    padding: 50px;
    width: 48%;
}

.cousres_img {
    margin-bottom: 30px;
}

.cousres_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 30px;
}

.duration {
    display: flex;
    gap: 10px;
}

.name {
    font-size: 20px;
    font-weight: 400;
}

.course_name {
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 14px;
}

.course_cardDesc {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 30px;
}

.getNow {
    width: 100%;
}

/*  testimonials  section */

.testimonials_cont {
    margin-bottom: 168px;
}

.testimonials_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.testimonials_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.testimonials_heading {
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
}

.testimonials_desc {
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
}

.testimonials_left {
    max-width: 950px;
}

.testimonials_card {
    background-color: var(--white-color);
    border-radius: 12px;
}

.testimonials_cardBtm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--pre-gray);
    padding: 30px 50px 30px 50px;
    background-color: #FCFCFD;
}

.testimonials_cardDesc {
    padding: 50px;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
}

.student {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* pricing section */
.pricing_cont {
    margin-bottom: 150px;
}

.pricing_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.pricing_heading {
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
}

.pricing_desc {
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
}

.pricing_left {
    max-width: 950px;
}

.pricing_btns {
    display: flex;
    padding: 12px;
    background-color: var(--white-color);
    gap: 4px;
    border-radius: 8px;
}

.pricing_cards {
    background-color: var(--white-color);
    padding: 80px;
    border-radius: 12px;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.pricing_card {
    border-radius: 12px;
    background-color: #FCFCFD;
    padding: 50px 30px 30px 30px;
}

.plan {
    background-color: #FFEACC;
    width: 100%;
    color: var(--black-color);
    margin-bottom: 50px;
}

.pricing_price {
    font-size: 80px;
    font-weight: 600;
    line-height: 73%;
    margin-bottom: 50px;
}

.pricing_price sub {
    font-size: 20px;
    line-height: 73%;
    color: #4C4C4D;
}

.pricing_inner {
    background-color: #FFFFFF;
    border: 1px solid #F1F1F3;
    border-radius: 12px;
    padding: 40px;
    padding-bottom: 0;
}

.pricing_subHeading {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    margin-bottom: 30px;
}

.pricing_item {
    display: flex;
    gap: 12px;
    padding: 14px;
    align-items: center;
    border: 1px solid #F1F1F3;
    border-radius: 8px;
    margin-bottom: 20px;
}

.pricing_item img {
    width: 32px;
    height: 32px;
    padding: 6px;
    background-color: #FFF4E5;
    border-radius: 6px;
    display: block;
}

.Started {
    width: 100%;
    margin-top: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/* Frequently section */
.frequently_cont{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    padding: 100px;
    background-color: var(--white-color);
    border-radius: 12px;
    margin-bottom: 142px;
}
.frequently_left{
    max-width: 408px;
    width: 100%;
}
.frequently_heading{
    font-size: 48px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 10px;
}
.frequently_desc{
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 50px;
}
.frequently_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px ;
    gap: 50px;
    cursor: pointer;
    border: 1px solid #F1F1F3;
    background-color: var(--white-color);
    border-radius: 12px;
    margin-bottom: 50px;
}
.frequently__question{
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}
.frequently__icon img{
    width: 52px;
    height: 52px;
    padding: 12px;
    border-radius: 8px;
    background-color: #FFF4E5;
    display: block;
}
.frequently_answer{
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 50px;
    color:#4C4C4D;
}
.frequently_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 20px 30px;
    background-color: #F1F1F3;
    border: 1px solid #F1F1F3;
    margin-bottom: 50px;
    border-radius: 12px;
}
.frequently_arrowIcon img{
    padding: 14px;
    max-width: 56px;
    height: 56px;
    background-color: var(--white-color);
    border-radius: 50px;
}
.frequently_wrap{
    padding: 50px;
    border: 1px solid #F1F1F3;
    background-color: var(--white-color);
    border-radius: 12px;
    margin-bottom: 30px;
}
/* footer */
.footer{
    background-color: var(--white-color);
}
.footer_cont{
    display: flex;
    justify-content: space-between;
    padding-block: 100px 50px;
    gap: 30px;
    border-bottom: 1px solid var(--pre-gray);
}
.footer_right{
     display: flex;
    justify-content: space-between; 
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    gap: 60px;
}
.footer_title{
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 14px;
}
.footer_icon img{
    max-width: 54px;
    height: 54px;
    display: block;
    margin-bottom: 40px;
}
.footer_link{
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    color: #59595A;
}
.footer_item{
    margin-bottom: 8px;

}
.phoneWrap,.emailWrap,.locationWrap{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 20px;
}
.footer_navbar{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.footer_socailWrap{
    display: flex;
    align-items: center;
    gap: 14px;
}
.footer_intgram,.footer_twiiter,.footer_linked{
    width: 52px;
    height: 52px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F8;
    border: 1px solid #F1F1F3;
    border-radius: 8px;
}
.footer_intgram img,.footer_twiiter img,.footer_linked img{
    max-width: 24px;
    height: 24px;
    display: block;
}
.footer_copyRight{
    text-align: center;
    padding-block: 50px 30px;
}
.footer_copyText{
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: #656567;
}
.footer_copyRgtLink{
    color:inherit;
}
.footer_copyRgtLink:hover{
    text-decoration: underline;
}